# Dependências do Node.js
node_modules/
package-lock.json

# Build e cache
dist/
.angular/
.vite/
.tmp/
.out-tsc/
.bazel-out/

# Configurações do ambiente
.env
.env.local
.env.development
.env.production

# Logs e arquivos temporários
npm-debug.log*
yarn-error.log*
*.log
logs/
debug.log

# Arquivos do editor
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# Arquivos de teste e cobertura
/coverage
/libpeerconnection.log
testem.log
/typings

# Arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos do Angular e Vite
.angular/cache/
.vite/cache/

# Ignorar arquivos do MDB Angular UI Kit (se aplicável)
mdb-angular-ui-kit_*.js
mdb-angular-ui-kit_*.js.map

# Ignorar arquivos do SweetAlert2 (se aplicável)
sweetalert2.js
sweetalert2.js.map