.navbar {
    background: linear-gradient(to right, rgba(0,87,116,0.7), rgba(0,116,93,0.7), rgba(149,166,125,0.7), rgba(235,220,204,0.7), rgba(255,255,254,0.7));
    position: relative;
    top: 118px; /* Move a Navbar para baixo */


}
.navbar-brand,
.navbar-toggler {
  color: white !important; /* Força a cor branca */
}

.navbar a {
  color: white !important;
}
