.table {
    width: 100%;
  }
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .preco-column {
    text-align: right; /* Alinha o conteúdo à direita */
    width: 15%; /* Ajuste a largura conforme necessário */
  }
  .direita button {
    min-width: 120px; /* Define um tamanho mínimo */
    height: 40px; /* Mantém altura uniforme */
  }
  .direita {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
    justify-content: center; /* Opcional: Centraliza os botões */
  }
  .btn-novo {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: red;
  }
  