<!-- Estrutura do componente -->
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 topo">
      <div class="card">
        <div class="card-body">
          <div class="card-header">
            <button type="button" class="close_esquerda" (click)="close()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <form (ngSubmit)="onSubmit()">

              <!-- Campos do formulário -->
              <div class="form-group">
                <label for="model">Modelo</label>
                <input type="text" id="model" class="form-control" [(ngModel)]="car.model" name="model" required />
              </div>

              <div class="form-group">
                <label for="years">Ano</label>
                <input type="number" id="years" class="form-control" [(ngModel)]="car.years" name="years" required />
              </div>

              <div class="form-group">
                <label for="chassi">Chassi</label>
                <input type="text" id="chassi" class="form-control" [(ngModel)]="car.chassi" name="chassi" required />
              </div>

              <div class="form-group">
                <label for="price">Preço</label>
                <input type="number" id="price" class="form-control" [(ngModel)]="car.price" name="price" required />
              </div>

              <div class="form-group">
                <label for="make">Marca</label>
                <input type="text" id="make" class="form-control" [(ngModel)]="car.make.name" name="make" required />
              </div>
              <br>
              <!-- Botões de ação de marca -->
              <div class="d-flex flex-wrap gap-2 mt-3">
                @if (!isEditing) {
                <button type="button" class="btn btn-custom btn-rounded" (click)="searchBrand()">
                  Buscar Marca
                </button>

                } @else{

                <span>Marca: {{car.make.name}}</span>
                <button type="button" class="btn btn-custom btn-rounded" (click)="changeBrand()">
                  Trocar Marca
                </button>
                }

                <div class="ms-auto">
                  <button type="submit" class="btn btn-custom btn-rounded">
                    Salvar
                  </button>
                </div>
              </div>
              <!-- Botões de ação de acessórios -->
              <div class="d-flex flex-wrap gap-2 mt-3">
                @if (!isEditing) {
                <button type="button" class="btn btn-custom btn-rounded" (click)="searchItem()">
                  Buscar Acessório
                </button>

                } @else{

                <!-- <span>Acessório: {{car.make.name}}</span> -->
                <button type="button" class="btn btn-custom btn-rounded" (click)="changeItem()">
                  Trocar Acessório
                </button>
                }

                <div class="ms-auto">
                  <button type="submit" class="btn btn-custom btn-rounded">
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>