<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4 centralizar topo">
      <div class="card">
        <div class="card-body">
          <h3>Autentique-se:</h3>
          <br />
          <div class="form-outline">
            <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="usuario" />
            <label mdbLabel class="form-label form-label" for="usuario">Usuário</label>
          </div>

          <br>

          <div class="form-outline">
            <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="senha" />
            <label mdbLabel class="form-label form-label" for="senha">Senha</label>
          </div>

          <br />

          <button type="button" class="btn btn-custom btn-rounded" mdbRipple (click)="logar()">
            Acessar
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
