.topo{
    top: 30vh;
    position: relative;
}
.centralizar h3 {
  color: rgb(8, 8, 8),
  font-family Arial, sans-serif;
  
}
.btn-custom {
  background-color: #00745d;
  color: white; /* Cor do texto */
  border-radius: 20px; /* Mantém o formato arredondado */
  font-weight: bold;
  transition: 0.3s ease-in-out; /* Suaviza a transição */
}
.btn-custom:hover {
  background-color: #00745d ; 
  box-shadow: 0px 0px 10px  #00745d; /* Efeito de brilho */
  transform: scale(1.05); /* Faz o botão crescer levemente */
}


.card {
   position: relative;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 15px;
}
//efeito de input na tela de login
.custom-input:focus {
  border-color: #125212 ; /* Insira a cor desejada */
  box-shadow: 0 0 5px  #125212; /* Ajuste para destacar */
}
.form-label {
  color: #125212 !important; //!important garante que a regra seja aplicada, ignorando outras definições.
}

.form-label:focus,
.form-label.active { 
  color: #125212 !important; /* Cor personalizada quando o input está ativo */
}

