.topo{
    top: 30vh;
    position: absolute;
    
}
.container {
  max-width: 100vw;
  height: 100px; /* Define uma altura fixa */
  padding: 10px; /* Espaçamento interno */
  margin: auto;  /* Centraliza o contêiner */
  border-collapse: collapse;
}

.table th, .table td {
  text-align: center;
  padding: 5px;
}

.close_esquerda {
  position: absolute;
  left: 1365px; /* Ajuste conforme necessário */
  top: 10px; /* Para alinhar na parte superior */
  color: #050606;
  background-color: #00745d;
}


.btn-custom {
  background-color: #00745d; /* Verde-lima */
  color: white; /* Cor do texto */
  border-radius: 20px; /* Mantém o formato arredondado */
  font-weight: bold;
  transition: 0.3s ease-in-out; /* Suaviza a transição */
}
.btn-custom:hover {
  background-color: #00745d; /* Verde mais forte */
  box-shadow: 0px 0px 10px #fffffe; /* Efeito de brilho */
  transform: scale(1.05); /* Faz o botão crescer levemente */
}